@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

@import "vars";
@import "bootstrap";


.btn {
  font-weight: $font-weight-light;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  box-shadow: none !important;
  outline: none !important;
}